[Unit]
Description=J.A.R.V.I.S weather service

[Service]
Type=dbus
BusName=org.denoming.jarvis.weather
ExecStart=/usr/bin/jarvis-weather
Environment=JARVIS_WEATHER_CONFIG=/usr/share/jarvis/jarvis-weather-config.json

[Install]
WantedBy=multi-user.target
