[Unit]
Description=Speechee service

[Service]
Type=dbus
BusName=org.denoming.speechee
ExecStart=/usr/bin/speechee
Environment=GOOGLE_APPLICATION_CREDENTIALS=/usr/share/jarvis/jarvis-cloud-access.json

[Install]
WantedBy=multi-user.target
