# Machine Selection
MACHINE ?= "qemux86-64"
MACHINE_ESSENTIAL_EXTRA_RRECOMMENDS += "kernel-modules"

# Default policy config
DISTRO ?= "jarvis"

# SDK target architecture
SDKMACHINE ?= "x86_64"

# Additional image features
USER_CLASSES ?= "buildstats"

# Interactive shell configuration
PATCHRESOLVE = "noop"

# Specify license white list
LICENSE_FLAGS_ACCEPTED = "commercial"

# Set version for tracking
CONF_VERSION = "2"

# Set extra free disk space
IMAGE_ROOTFS_EXTRA_SPACE = "524288"

# Set SDK options
SDK_EXT_TYPE = "full"
SDK_UPDATE_URL = "http://localhost/jarvis/esdk-update"

# Specify path to archive with J.A.R.V.I.S config files
JAR_CONFIG_FILE = "/absolute-path/config-files-archive.tar.gz"
